[%~
caption = c.req.params.caption || asset.caption;
~%]
<div class="media image">[%~ ~%]
    <img src="[% media_uri %]" alt="[% asset.name | html %]" title="[% asset.name | html %]">
    [%~ IF caption ~%]<p>[% caption | html %]</p>[%~ END ~%]
</div>[%~ ~%]
