[%~

page.title = c.loc('MediaMogul Profiles');

~%]
<h2>[% page.title %]</h2>
<dl>
    [% FOREACH type IN profiles_by_type.keys.sort %]
    <dt>[% c.loc(type) %] </dt>
    <dd>
        <ul>
            [% FOREACH profile IN profiles_by_type.$type %]
            <li><a href="[% c.uri_for_action('/admin/profile/manage_form', [ profile.name ]) %]">[% profile.name %]</a></li>
            [% END %]
        </ul>
    </dd>
[% END %]
</dl>
