<div class="header">
    <h1><a href="[% c.uri_for('/') %]">[% c.loc('MediaMogul') %]</a></h1>
[% # Include the navigation
IF page.nav && page.nav != 'none';
    PROCESS "site/nav/${page.nav}.tt";
END;
~%]
</div>
[% IF messages.for_scope('sidebar').has_messages;
    PROCESS "site/messages.tt", message_scope => 'sidebar';
END %]
[% #PROCESS site/messaging/hero.tt %]
